body {
    font-family: Arial, sans-serif;
    background: white;
    color: black;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

header {
    border-bottom: 5px solid #b30000;
    margin-bottom: 30px;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

header p {
    color: #b30000;
    font-weight: bold;
}

.file {
    border: 2px solid black;
    padding: 20px;
}

h2 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

h3 {
    margin-top: 25px;
}

body{
    background:#f3f3f3;
    color:black;
    font-family:Arial,sans-serif;
    max-width:1000px;
    margin:auto;
    padding:20px;
}

header{
    border-bottom:5px solid #b30000;
    margin-bottom:20px;
}

header h1{
    margin:0;
    font-size:3rem;
}

header p{
    color:#b30000;
    font-weight:bold;
}

.warning{
    background:#b30000;
    color:white;
    text-align:center;
    padding:10px;
    font-weight:bold;
    margin-bottom:20px;
}

.database{
    background:white;
    border:2px solid black;
    padding:20px;
}

.entry{
    display:flex;
    justify-content:space-between;
    padding:10px;
    border-bottom:1px solid #ddd;
}

.entry a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.entry a:hover{
    color:#b30000;
}

.class{
    padding:4px 10px;
    border-radius:3px;
    font-size:0.8rem;
    color:white;
}

.safe{
    background:#2e8b57;
}

.euclid{
    background:#e69500;
}

.keter{
    background:#b30000;
}

.cosmic{
    background:#6f00ff;
    color:white;
}

.earthly{
    background:#e69500;
    color:white;
}

.local{
    background:#2e8b57;
    color:white;
}

.seldom{
    background:#555;
    color:white;
}

.legend{
    background:white;
    border:2px solid black;
    padding:15px;
    margin-bottom:20px;
}
